@charset "utf-8";


h1 {
    font-family: sans-serif;
    font-size: 70px;
    text-shadow: 0px 0px 30px red, 0PX -2PX 10PX orange, 0px -2px blue, -2px 0px blue, 2px 0px blue, 0px 2px blue;
    color: yellow;
    text-align: center;

}

h2 { 
    font-family: sans-serif;
}

body {
    background-color: bisque;
    margin: 20px 80px;

}
#familymember {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}

#familymember td, #familymember th {
    border: 1px solid #ddd;
    padding: 8px;
}

#familymember tr:nth-child(odd){background-color: lightsalmon;}

#familymember tr:nth-child(even){background-color: lightblue;}

#familymember tr:hover {background-color: #ddd;}

#familymember th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}
#familymember tr {
    text-align: center;
}
