@charset "utf-8";
/* Lab01.css */

article { background-color: #efe; margin-bottom: 0.5em; }
aside { background-color: #efd; margin-bottom: 1em; }
footer { background-color: #eef; margin-bottom: 1em; }
h1 { text-align:center; }
header { background-color: #fee; margin-bottom: 1em; }

