@charset "utf-8";
/* Lab 6 External Style Sheet - David Weibel */

body {font-family: Arial, Helvetica, sans-serif;}
.p1 {letter-spacing: 7px;}
.p2 {text-indent: 23px;}
.p3 {text-shadow: 2px 2px 5px green;}
.p4 {text-transform: capitalize;}
.p5 {font-variant: small-caps;}
.p6 {font-weight:bold}
.p7 {text-decoration: overline purple;}